<form>

  <div class="form-group">
    <label for="brand">Brand</label>
    <select id="brand" class="form-control">
      <option value=""></option>
      <option *ngFor="let b of brands" value="{{ b.id }}">{{ b.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control"/>
  </div>

  <div *ngFor="let s of styles" class="form-check">
    <label class="form-check-label" for="style-{{ s.id }}">
      <input class="form-check-input" id="style-{{ s.id }}" type="checkbox" value="{{s.id}}">
      {{s.name}}
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>